<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.docchanneling.docdemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/docicon96"
        android:label="DOC Channelling"
        android:roundIcon="@drawable/docicon96"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".ChannellingInfoActivity" />
        <activity android:name=".RetrieveFIirebaseData"></activity>
    </application>

</manifest>